img{
    border-radius: 20px;
}
img:hover{
    transform: scaleX(-1);
    transition-delay: 3s;
}
div.img {
    margin: 5px;
    border: 1px solid #ddd;
    float: left;
    width: 250px;
    border-radius: 20px;
    padding: 5px;

}
div.img:hover {
    border: 1px solid blue;
    color: green;
    font-style: italic;
    opacity: 0.8;
    transition:all 5s;

}
div.img img {
    width: 100%;
    height: auto;
}
div.desc{
    padding: 15px;
    text-align: center;
}